  <%- include('blocks/header_dashboard.ejs'); -%>
    
  <div class= "col-8">
    
    </div>
   <!---<div class="col-2">
    <strong>users</strong>
    <ul id="online_users">
      <%// for (user of userlist){ %>
        <li><%=//user%></li>
        <% //} %>
</ul>
</div>--->
     
  
  <%- include('blocks/footer.ejs'); -%>