</div>

<div= class="row fixed-bottom one">
    <form class="col-8 offset-2" id="private_form">
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Message #<%= channelname %>" id="private_input" name="<%= channelname %>" autocomplete="off">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Send</button>
    </div>
  </div>
</form>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/scripts/script_private.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>