<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Slack</title>
  </head>
  <body class="container-fluid">
      <div class="col-md-12">
          <div class="row">
        <div class="col-2">
            <h2>Welcome to slack</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/frontend"># frontend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/backend"># backend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="databasteknik"># databasteknik</a>
            </li>
          </ul>
        </div>
      

